---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.canvas-container {
    margin-bottom: 15%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}